.button {
    border: 3px black solid;
}

button {
    width: 100%;
    height: 100%;
    background-color: rgba(24, 147, 218, 0.6);
    border-color: gray;
    font-size: 2em;
}

button:hover {
    background-color: rgba(24, 147, 218, 0.089);
}
